<%- include('../layouts/header') %>
<div class="container mx-auto">
    <div class="p-3">
        <% if (Array.isArray(errMsg)) { %>
            <% errMsg.forEach(errEl => { %>
                <div class="alert alert-danger" role="alert">
                    <%=errEl%>
                </div>
            <% }) %>
        <% } else if(!Array.isArray(errMsg) && errMsg !== undefined) { %>
            <div class="alert alert-danger" role="alert">
                <%=errMsg%>
            </div>
        <% } %>
        <h1>Login</h1>
        <form action="/login" method="post" class="mt-4">
            <div class="row mb-3">
                <div class="col-lg-6">
                    <label for="username" class="col-sm-2 col-form-label">Username</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="username" name="username" placeholder="input your username">
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-6">
                    <label for="password" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="password" name="password" placeholder="input your password">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mx-auto">Login</button>
          </form>
    </div>
</div>
<%- include('../layouts/footer') %>