<%- include('./layouts/header') %>
<div class="container">
    <div class="p-3">
        <form class="row g-3 mt-4" action="/profileUser/add" method="post">
            <div class="col-md-6">
              <label for="fullname" class="form-label">Fullname</label>
              <input type="text" class="form-control" id="fullname" name="fullname">
            </div>
            <div class="col-md-6">
              <label for="dateOfBirth" class="form-label">Date of Birth</label>
              <input type="date" class="form-control" id="dateOfBirth" name="dateOfBirth">
            </div>
            <div class="col-md-6">
                <label for="profilePicture" class="form-label">Profile Picture</label>
                <input type="text" class="form-control" id="profilePicture" name="profilePicture">
            </div>
            <div class="col-md-6">
                <label for="phoneNumber" class="form-label">Phone Number</label>
                <input type="text" class="form-control" id="phoneNumber" name="phoneNumber">
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
    </div>
</div>
<%- include('./layouts/footer') %>