<%- include('../layouts/header') %>
<div class="container">
    <div class="p-3">
        <% if (msg) { %>
        <p style="color: red;"><%= msg %></p>
        <% } %>
        <form action="/category/add" method="post">
            <label for="name" class="col-sm-2 col-form-label">Enter Category Name:</label><br>
            <input type="text" id="name" name="name" class="form-control"><br>
            <button type="submit" class="btn btn-outline-primary">Submit</button>
        </form> 
    </div>
</div>
<%- include('../layouts/footer') %>