<%- include('../layouts/header') %>
    <% if (msg) { %>
     <p style="color: red;"><%= msg %></p>
    <% } %>
    <form action="/detailUser/add" method="post">
        <label for="fullName">Enter FullName:</label><br>
        <input type="text" id="fullName" name="fullName"><br>
        <label for="dateOfBirth">Enter Date of Birth:</label><br>
        <input type="date" id="dateOfBirth" name="dateOfBirth"><br>
        <label for="profilePicture">Enter Profile Picture:</label><br>
        <input type="text" id="profilePicture" name="profilePicture"><br>
        <label for="address">Enter Address:</label><br>
        <input type="text" id="address" name="address"><br>
        <label for="phoneNumber">Enter Phone Number:</label><br>
        <input type="text" id="phoneNumber" name="phoneNumber"><br>
        <br>
        <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
    </form> 
<%- include('../layouts/footer') %>
